*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    list-style: none;
}
:root{
    --branco-texto: #EDEBEB;
    --roxo: #6B2CF8;
    --laranja: #FF763A;
    --amarelo: #B8F939;
}
/* CABEÇALHO */
#navegacao{
    width: 100%;
    height: fit-content;
    background-color: black;
}
#container{
    max-width: 1400px;
    margin: 0px 120px 0px 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
#links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
    color: white
}
.linknav{
    font-family: "Inter", sans-serif;
    color: var(--branco-texto);
    transition: 0.3s ease;
}
.linknav:hover{
    color: var(--roxo);
    font-size: 17px;
}
#logo1{
    width: 85px;
}
#botaonav{
    padding: 12px;
    border-radius: 10px;
    background-color: var(--laranja);
    transition: 0.3s ease;
}
#botaonav:hover{
    background-color: #ff4d00;
    transform: scale(1.1);
}
#linkbutton{
    color: black;
    font-family: var(--interfont);
    font-size: 15px;
}
/* SESSÃO PRINCIPAL */
#sessaohero{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 110px;
    padding-left: 100px;
    padding-right: 140px;
    width: 100%;
    height: fit-content;
    background-color: black;
}
h1{
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 70px;
    max-width: 450px;
    padding-bottom: 40px;
}
#phero{
    color: var(--branco-texto);
    font-family: "Inter", sans-serif; 
    font-size: 20px;
    max-width: 450px;
    padding-bottom: 50px;
}
#bt1{
    width: 150px;
    padding: 13px;
    border-radius: 10px;
    background-color: var(--amarelo);
    margin-right: 35px;
    transition: 0.2s ease;
}
#bt1:hover{
    background-color: #cfee21;
    transform: scale(1.1);
}
#bt1text{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: black;
}
#bt2{
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    border: 2px solid white;
    transition: 0.2s ease;
}
#bt2:hover{
    background-color: #333333;
    transform: scale(1.1);
}
#bt2text{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: white;
}
/* QUADRADOS */
#quadrados{
    display: grid;
    grid-template-columns: repeat(2, 180px);
    gap: 15px;
}
#lampada{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    transition: 0.3s ease;
    border-radius: 4px;
    background: linear-gradient(45deg, #6A1B9A 0%, #7B2BE2 50%, #244CFF 100%);
}
#monitor{
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    border-radius: 4px;
    background: linear-gradient(45deg, #73A900 0%, #A8E61D 55%, #c9eb4f 100%);
}
#barras{
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    border-radius: 4px;
    background: linear-gradient(45deg, #073B91 0%, #0759D9 50%, #579bee 100%);
}
#w{
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    border-radius: 4px;
    background: linear-gradient(45deg, #FF6535 0%, #FF7135 55%, #ffcb20 100%);
}
.itens{
    width: 70%;
    height: 70%;
}
#witen{
    width: 130px;
}
.quad:hover{
    transform: scale(1.1);
}
#sessaohero {
    position: relative;
}

#sessaohero::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    
    width: 70%;
    height: 1px;
    background: #757474;
}
/* SESSÃO CARDS */
#sessaocards{
    background-color: black;
    width: 100%;
    height: 200px;
}
#card1{
    background-color: white;
}
#card2{
    background-color: white;

}
#card2{
    background-color: white;

}